/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #452066;
}

.container {
  width: 80%; /*desktop: 70%*/
  height: 90%; /*desktop: 70%*/
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  padding: 15px;
  background-color: #3B1D59;
}

#time {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

h1 {
  font-size: 2.5em; /*desktop: 4em*/
  font-family: 'Poppins', sans-serif;
  color: #F2785C;
}

#value {
  font-size: 4em;
  font-family: 'Silkscreen', cursive;
  color: #03A696;
}

#taskName {
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  color: #F2A35E;
}

.tasks-container {
  width: 90%;
}

#form {
  display: flex;
  flex-direction: column;
}

#itTask {
  width: 100%;
  height: 25px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #F2A35E;
}

#btnAdd {
  width: 40%; /*desktop: 30%*/
  height: 30px;
  margin: 10px auto;
}

#tasks {
  width: 90%;
  display: flex;
  flex-direction: column; /*desktop: row*/
  gap: 20px;
  overflow-y: scroll;
}

::-webkit-scrollbar{
  display: none;
}

.task {
  padding: 10px;
  background-color: #F2A35E;
  border-radius: 10px;
}

.title {
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  color: #F2E3D0;
}

.start-button{
  width: 30%;
  height: 40px;
  margin-top: 10px;
  margin-left: 70%;
}

.done {
  color: #1A0935;
  font-family: 'Poppins', sans-serif;
}